<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome</h1>
    <div class="image-container">
        <img src="https://i0.wp.com/winkgo.com/wp-content/uploads/2023/06/welcome-memes-03.jpg?w=1024&ssl=1" alt="Welcome Meme">
    </div>
</body>
</html>